@charset "UTF-8";

/* Add your responsive media queries here */

@media screen and (max-width: 545px)
{
  header {
    padding: 20px 0 0 0 !important;
    flex-direction: column;
    height: auto;
    gap: 24px;
    }

    
   nav {
        flex-direction: column;
        width: 100%;
        text-align: center; 
    }
    
    nav a {
        display: block;
        width: 100%;
        padding: 16px 0 !important;
        
    }

    .logo img {
        margin-top: 10px;
        display: block;
        width: 100%;
        height: auto;
    }

    .hero-section h1{
        text-align: center;
        background: rgba(39, 25, 10, 0.8);
    }


   
    /* main */
    .container{
        
        flex-direction: column;
        
    }
    .container div .text{
        text-align-last: left;
        flex-direction: column;
        width: 100%;
        
    }

    
   
  
/* OUR STORY */


 .stories_img{
    flex-direction: column;
    width: auto;
    height: auto;
}

/* footer */

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-content {
        text-align: center;
    }

    .copyright {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
}


/* MEDIA QUERY: smaller screens */
@media screen and (max-width: 768px) {

    .our_stories {
        flex-direction: column;  
        align-items: center;
        gap: 20px;
        padding: 10px 5%;
    }

    .stories_text {
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .stories_img {
        width: 100%;
        max-width: 600px;        
        height: auto;
                        
    }

    .our_stories h1 {
        font-size: 28px;
        float: left;
    }
}

